# https://yarnpkg.com/getting-started/qa/#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.o

/cache
/debug
/deps
/docs
/dist
/tmp

.DS_Store

node_modules/
.turbo/
